name: ci
on:
  push:
    branches:
      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Prepare backend
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      -
        name: Install node dependencies
        run: | 
          npm install
        working-directory: ./backend
      - 
        name: |
          Test backend    
        run: npm test
        working-directory: ./backend
      -
        name: Checkout 
        uses: actions/checkout@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: backend/.
          file: ./backend/Dockerfile
          push: true
          tags: mrtrvl/smartback:latest
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: frontend/.
          file: ./frontend/Dockerfile
          push: true
          tags: mrtrvl/smartfront:latest