on: push
name: publish
jobs:
  build:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: docker build
        uses: actions/checkout@v3
        run: docker build . --file ./frontend/Dockerfile --tag mrtrvl/smarthomefront
      - name: docker build
        uses: actions/checkout@v3
        run: docker build . --file ./backend/Dockerfile --tag mrtrvl/smarthomeback
      - name: docker build
        uses: actions/checkout@v3
        run: docker build . --file ./nginx/Dockerfile --tag mrtrvl/smarthomenginx
      - name: docker login
        uses: actions/docker/login@master
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      - name: docker push
        uses: actions/docker/cli@master
        with:
          args: push mrtrvl/smarthome
